[Desktop Entry]
Type=Application
Version=1.0
Name=Install Lyra OS
Name[pt_BR]=Instalar o Lyra OS
Comment=Install Lyra OS to this computer
Comment[pt_BR]=Instala o Lyra OS neste computador
TryExec=/usr/bin/lyra-installer
Exec=/usr/bin/lyra-install-lock /usr/bin/lyra-installer
Icon=org.lyraos.LyraInstaller
StartupWMClass=lyra-installer
Terminal=false
StartupNotify=true
Categories=System;
X-AppStream-Ignore=true
OnlyShowIn=XFCE;
